@CHARSET "EUC-KR";


header{
    width: 100%;
    position: fixed; 
    top: 0;
    height: 60px !important;
    opacity:.8;
    background-image: url('http://cfile2.uf.tistory.com/image/1448C3354DC67D341C3BA1');
}

.PPOMPPU {
	background-image: url('http://cfile2.uf.tistory.com/image/1448C3354DC67D341C3BA1');
}

.nav2 a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
  background-image: url('http://cfile2.uf.tistory.com/image/1448C3354DC67D341C3BA1');
}

.nav2 a {
    display: inline;
}

.row h4 {
    color: black;
    font-size: 17;
    font-weight:bold; 
}

.row h5 {
    color: black;
    font-size: 14;
}

.footMenu .container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.footMenu li {
    color: black;
    font-size: 20;
    font-weight: bold;
    padding top 18px;
    display: inline;
}

.footMenu .container a {
    color: black;
}

.etc .container {
    max-width: 940px;
    margin: 0 auto;
    padding-right: 50px;
}

.logo {
    padding-left: 330px;
}

.logo a {
    color: black;
}

.logo b {
    color: black;
}

.address {
    padding-left: 660px;
}


html,body{height:100%} 
body{margin:0} 
#body{min-height:75%; margin:0 auto;} 
#content{padding-bottom:1.9em} 

#foot{
	height:1.9em
	padding-top: 20px;
	} 
	
#foot .container {
	padding-top: 20px;
}

header {
	width: 100%;
	position: fixed;
	top: 0;
	height: 60px !important;
	opacity: .8;
}

.nav2 a {
	color: #5a5a5a;
	font-size: 11px;
	font-weight: bold;
	padding: 14px 10px;
	text-transform: uppercase;
}

.nav2 a {
	display: inline;
}

.nav2 a li {
	display: inline;
}

.apologize {
}

.row h4 {
	color: black;
	font-size: 17;
	font-weight: bold;
}

.row h5 {
	color: black;
	font-size: 14;
}

.footMenu .container {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.footMenu li {
	color: black;
	font-size: 20;
	font-weight: bold; padding top 18px;
	display: inline;
}

.footMenu .container a {
	color: black;
}

.etc .container {
	max-width: 940px;
	margin: 0 auto;
	padding-right: 50px;
	padding-top: 20px;
}

.logo {
	padding-left: 330px;
}

.logo a {
	color: black;
}

.logo b {
	color: black;
}

.address {
	padding-left: 660px;
}

#body .container {
	margin : 0 auto;
}

#body2 .container {
	width: 1200px;
	height: 800px;
	margin : 0 auto;
}

.mainpage .container{
	border: 1px solid white;
}

.thumbnail .container{
	padding-top: 15px;
}  
	

.thumbnail .container .logincontainer {
	padding-top: 15px;
	background-color: #F2F2F2;
	margin: auto;
	border: 1px solid black;
	height: 300px;
	width: 400px;
}

.thumbnail .container .logincontainer h1 {
	text-align: center;
}

.thumbnail .container .logincontainer #logintable {
	margin: auto;
}


#body3 .thumbnail .container .container2 {
	height: 100px;
	border: 1px solid black;
}

caption {
	font-family: 궁서;
	color: #00F;
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 10px;
}

.table_list {
	width: 100%;
	font-size: 12px;
}

.table_list thead tr th {
	height: 35px;
	background: #494949;
	color: #fff;
	font-weight: bold;
}

.table_list tbody tr td {
	line-height: 35px;
	border-bottom: 1px solid #c3c3c3;
	text-align: center;
}

.table_list tbody tr td.num {
	font-family: Tahoma;
	font-size: 11px;
	color: #737373;
	text-align: left;
}

.table_list tbody tr td.title {
	text-align: left;
}

.table_list tbody tr td.title a {
	distplay: block;
	float: left;
	text-decoration: none;
	color: #191919;
	max-width: 320px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.table_list tbody tr td.title a:hover {
	text-decoration: underline;
}
























/*

.nav2 a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.PPOMPPU a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.PPOMPPU {
    border-bottom: 2px solid #dbdbdb;
}

.nav2 li {
  display: inline;
}

.nav2 {
    border-bottom: 1px solid #dbdbdb;
}
  
.jumbotron {
  background-image:url('http://www.wallpaperist.com/wallpapers/Various/Places/Nice-Scenery-1920-1200.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}
 
.jumbotron .container {
  position: relative;
  top:100px;
}
 
.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}
 
.jumbotron p {
  font-size: 20px;
  color: #fff;
}
 
.learn-more {
  background-color: #f7f7f7;
}
 
.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}
 
.learn-more a {
  color: #00b0ff;
}
 
.neighborhood-guides {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}
 
.neighborhood-guides h2 {
    color: #393c3d;
    font-size: 24px;
}
 
.neighborhood-guides p {
    font-size: 15px;
    margin-bottom: 13px;
}









body{color:#3c414b;font-size:12px;line-height:1.667;direction:ltr;text-align:center;margin:0px;_margin-top:0px;padding:0px;}



.new_shop_2015{width:334px;border:1px solid #ffb600;background-color:#fff;font-family:'돋움',dotum}
.new_shop_2015 .blind{visibility:hidden;overflow:hidden;position:absolute;top:-1px;left:-1px;width:1px;height:1px;font-size:0;line-height:0}
.new_shop_2015 .em_tit{position:relative;height:34px;background:url(/images/emart/sp_em_ppomppu-20150427.png) 0 0 no-repeat}
.new_shop_2015 .em_tit a{position:absolute;top:0;height:34px}
.new_shop_2015 .em_tit a.link_em{left:0;width:100px}
.new_shop_2015 .em_tit a.link_tr{left:215px;width:55px}
.new_shop_2015 .em_tit a.link_bs{left:271px;width:63px}
.new_shop_2015 .em_area{}
.new_shop_2015 .em_tab{border-top:1px solid #d6d6d6}
.new_shop_2015 .em_tab:after{display:block;clear:both;content:''}
.new_shop_2015 .em_tab li{float:left;width:110px;height:29px;border-left:1px solid #d6d6d6}
.new_shop_2015 .em_tab li:first-child{width:112px;border-left:0}
.new_shop_2015 .em_tab li a{display:block;height:21px;padding-top:7px;border-bottom:1px solid #d5d5d5;background: #fafafa 0 0 no-repeat;color:#444;font-family:'굴림',gulim;font-size:12px;line-height:17px;text-align:center}
.new_shop_2015 .em_tab li a:hover{color:#444}
.new_shop_2015 .em_tab li.on a{border-color:#fff;background-color:#fff;font-weight:bold;letter-spacing:-1px}
.new_shop_2015 .em_cont{display:none;overflow:hidden;height:434px}
.new_shop_2015 .time_box{height:60px;border-bottom:1px solid #d6d6d6;background:url(/images/emart/sp_em_ppomppu-20150427.png) 0 -50px no-repeat}
.new_shop_2015 .time_box a{display:block;position:relative;height:60px}
.new_shop_2015 .time_box a span{overflow:hidden;position:absolute;top:20px;width:21px;height:20px;background-image:url(/images/emart/sp_em_ppomppu-20150427.png);background-repeat:no-repeat;text-indent:-1000em}
.new_shop_2015 .time_box a span.no0{background-position:0 -150px}
.new_shop_2015 .time_box a span.no1{background-position:-21px -150px}
.new_shop_2015 .time_box a span.no2{background-position:-42px -150px}
.new_shop_2015 .time_box a span.no3{background-position:-63px -150px}
.new_shop_2015 .time_box a span.no4{background-position:-84px -150px}
.new_shop_2015 .time_box a span.no5{background-position:-105px -150px}
.new_shop_2015 .time_box a span.no6{background-position:-126px -150px}
.new_shop_2015 .time_box a span.no7{background-position:-147px -150px}
.new_shop_2015 .time_box a span.no8{background-position:-168px -150px}
.new_shop_2015 .time_box a span.no9{background-position:-189px -150px}
.new_shop_2015 .time_box #TimeSvc1_1{left:181px}
.new_shop_2015 .time_box #TimeSvc1_2{left:202px}
.new_shop_2015 .time_box #TimeSvc1_3{left:227px}
.new_shop_2015 .time_box #TimeSvc1_4{left:248px}
.new_shop_2015 .time_box #TimeSvc1_5{left:273px}
.new_shop_2015 .time_box #TimeSvc1_6{left:294px}
.new_shop_2015 .list{overflow:hidden;margin:17px 0 10px}
.new_shop_2015 .list:after{display:block;clear:both;content:''}
.new_shop_2015 .list li{float:left;width:167px;height:150px;text-align:center;overflow:hidden}
.new_shop_2015 .list li div.photo_box{position:relative;width:110px;height:110px;text-align:center;margin:0 auto}
.new_shop_2015 .list li div.photo_box .icon{position:absolute;top:0;left:5px}
.new_shop_2015 .list li div.photo_box .icon .ssale{width:24px;height:23px;padding:10px 17px 0 0;background:url(/images/emart/sp_em_ppomppu-20150427.png) no-repeat -100px -200px;text-align:right;margin-left:-8px}
.new_shop_2015 .list li div.photo_box .icon .ssale2{width:32px;height:32px;background:url(/images/emart/sp_em_ppomppu-20150427.png) no-repeat 0 -200px}
.new_shop_2015 .list li div.photo_box .icon .ssale span{display:inline-block;width:7px;height:10px;margin:0;background:url(/images/emart/sp_em_ppomppu-20150427.png) no-repeat;font-size:0}
.new_shop_2015 .list li div.photo_box .icon .ssale .sale_num1{margin:0 -1px 0 0;background-position:-20px -250px}
.new_shop_2015 .list li div.photo_box .icon .ssale .sale_num2{background-position:-20px -270px}
.new_shop_2015 .list li div.photo_box .icon .ssale .sale_num3{background-position:-20px -290px}
.new_shop_2015 .list li div.photo_box .icon .ssale .sale_num4{background-position:-20px -310px}
.new_shop_2015 .list li div.photo_box .icon .ssale .sale_num5{background-position:-20px -330px}
.new_shop_2015 .list li div.photo_box .icon .ssale .sale_num6{background-position:-20px -350px}
.new_shop_2015 .list li div.photo_box .icon .ssale .sale_num7{background-position:-20px -370px}
.new_shop_2015 .list li div.photo_box .icon .ssale .sale_num8{background-position:-20px -390px}
.new_shop_2015 .list li div.photo_box .icon .ssale .sale_num9{background-position:-20px -410px}
.new_shop_2015 .list li div.photo_box .icon .ssale .sale_num0{background-position:-20px -430px}
.new_shop_2015 .list li div.photo_box p.photo{margin:0}
.new_shop_2015 .list li div.photo_box p.photo img{width:110px;height:110px}
.new_shop_2015 .list li .model_name{display:block;color:#777;font-size:12px;letter-spacing:-1px;line-height:15px;height:15px;padding-top:4px}
.new_shop_2015 .list li .sub_title{display:block;color:#969696;font-size:11px;letter-spacing:-1px;line-height:15px;padding:0 5px}
.new_shop_2015 .list li .sub_title a{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.new_shop_2015 .list li .discount{color:#969696;font-size:11px;line-height:13px;text-decoration:line-through}
.new_shop_2015 .list li .price{display:block;color:#f00;font-size:14px;font-weight:bold;line-height:14px;letter-spacing:-1px}
.new_shop_2015 .list li .price em{font-weight:normal;font-size:11px;padding-left:1px}

.new_shop_2015 .em_bnr img{width:334px;height:107px;vertical-align:top}
.new_shop_2015 .em_obj .list{height:246px;width:334px;padding:20px 0 0 5px;background:none;margin:0}
.new_shop_2015 .em_obj .list li{height:80px;text-align:left;}
.new_shop_2015 .em_obj .list li div.photo_box{float:left;width:70px;height:70px;padding:0 2px}
.new_shop_2015 .em_obj .list li .model_name{float:left;width:86px;margin-top:4px;color:#777;font-size:12px;letter-spacing:-1px;line-height:15px}
.new_shop_2015 .em_obj .list li .sub_title{float:left;width:86px;height:38px;color:#969696;font-size:11px;letter-spacing:-1px;line-height:15px;padding:0;overflow:hidden;margin-bottom:12px}
.new_shop_2015 .em_obj .list li .sub_title a{overflow:visible;text-overflow:initial;white-space:normal;}
.new_shop_2015 .em_obj .list li .discount{display:block;float:left;width:86px;color:#969696;font-size:11px;line-height:13px;text-decoration:line-through}
.new_shop_2015 .em_obj .list li .price{display:block;float:left;width:86px;color:#f00;font-size:14px;font-weight:bold;line-height:14px;letter-spacing:-1px}
.new_shop_2015 .em_obj .list li .price em{font-weight:normal;font-size:11px;padding-left:1px}
.new_shop_2015 .em_obj .list li div.photo_box p.photo img{width:70px;height:70px}


쇼핑몰특가모음
.shop_mall {border:1px solid #d6d6d6; background-color:#fafafa; height:24px; padding:3px 0 0 10px;}
.shop_mall_title {display:inline-block;}
.shop_mall_arrow a {margin-right: -5px;}
.shop_mall span a {font-family:"맑은 고딕"; font-weight:bold; font-size:12px;}
.shop_mall_box {border:1px solid #d6d6d6; border-top:none; padding:10px; font-size: 9pt;}
.shop_mall_box li{max-width:530px; text-overflow:ellipsis; overflow: hidden; white-space: nowrap;height: 21px;}
.line_top {color:#bcbcbc; margin-top:2px;}






.div {
color: rgb(64, 64, 64);
direction: ltr;
display: block;
font-family: 굴림;
font-size: 12px;
height: 260px;
line-height: 20.004px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
text-align: left;
width: 555px;
zoom: 1;

*/






















