
@charset "utf-8";


a:link {text-decoration:none; color:#656565;}
a:visited {text-decoration:none; color:#656565;}
a:active {text-decoration:underline; color:#656565;}
a:hover {text-decoration:underline; color:#0072ff;}

form {margin:0px; padding:0px;}
img {border:0px;}

input, textarea {font-family:Dotum, DotumChe verdana arial; font-size:12px;}
body {width:100%; text-align:-moz-center; /*FF*/ #text-align:center; /*IE*/ margin:0; padding:0; font-family:Dotum, DotumChe verdana arial; font-size:12px; color:#333333;/* 스크롤 고정레이어_수정_110630 */_height:100%; _width:100%; _overflow:auto;}
*{margin:0;padding:0;}/* 스크롤 고정레이어_추가_110630 */
#btm_msg{position:fixed; _position:absolute; bottom:0px;height:50px;width:900px;height:35px;z-index:99; background:url(../../../images/web/car/bar_btm_msg01.gif) no-repeat;}/* 스크롤 고정레이어_추가_110630 */
.btm_msg01{padding-left:30px; float:left} .btm_msg02{padding-left:10px; line-height:3.5em;} .btm_msg03{margin:9px 16px 0 0;}/* 스크롤 고정레이어_추가_110630 */

li{margin:0px; padding:0px}
ul{margin:0px; padding:0px}
input{margin:0px; padding:0px}
a img, a{border:0px}
table{margin:0px; padding:0px}

/* align */

#align{width:100%; text-align:center;}
#content{margin:0 auto; text-align:left;}
.align{width:100%; text-align:center; vertical-align:top;}
.align2{width:100%; text-align:center; vertical-align:top; margin-top:-20px;}
.content_01{margin:0 auto; width:898px; text-align:left;}
.content_02{margin:0 auto; width:347px; text-align:left;}
.content_03{margin:0 auto; width:898px; text-align:left;}
.content_04{margin:0 auto; width:901px; text-align:left;}
.content_04a{margin:0 auto; width:930px; text-align:left;}
.content_05{margin:0 auto; width:700px; text-align:left;}
.content_06b{margin:0 auto; width:650px; text-align:left;}
.content_07{margin:0 auto; width:476px; text-align:left;}


.align_center{text-align:center;}
.align_left{text-align:left;}
.align_right{text-align:right;}
.valign_btm{vertical-align:bottom;}
.valign_top{vertical-align:top;}

.bgc01{background-color:#fafafa;}
.bgc02{background-color:#f7fbff;}

.bg_popup_c1{background:url(../../../images/web/car/box_popup_side.gif) repeat-y;}
.bg_popup_c2{background:url(../../../images/web/car/box_popup_b.gif) no-repeat;}

.bd_g{border:1px solid #dddddd;}
.bd_g1{border:1px solid #cccccc;}
.bd_g1_b{border-bottom:1px solid #cccccc;}
.bd_g1_r{border-right:1px solid #cccccc;}
.bd_g2{border:1px solid #cccccc; background-color:#f3f4f3;}
.bd_g3{border-right:1px solid #cccccc; border-bottom:1px solid #cccccc; border-left:1px solid #cccccc; background-color:#f3f4f3;}
.bd_g4{border:1px solid #cccccc; margin:10px 0px 7px 0px;}


.float_left{float:left;}
.float_right{float:right;}
.float_left_pd1{float:left; padding-top:18px;}
.float_right_pd2{float:right; padding-bottom:4px;} 
.float_left_pd2{float:left; padding-bottom:4px;}


.bold{font-weight:bold;}

/* top_bar */

#top_bar_01{margin-top:30px;}
.top_bar01{background:url(../../../images/web/car/bg_topbar.gif) repeat-x; height:20px;}
.pd01{margin-left:15px;}
.login_box_text{font-size:11px; line-height:1.7em;}
.login_box_blt{color:#dedede; padding: 0px 3px;}


/* bottom_bar_copyright */

#btm_bar{width:100%; border-top:1px solid #dcdcdc;}
#btm_copyright{vertical-align:bottom; text-align:center;}


.sell_main_step{margin:18px 0 124px 0;}


/* infobee_realty_sell */

#input_tab{width:898px; padding-bottom:6px;}
#input_tab2{width:898px; padding-bottom:6px;}

#table{}
#table .input_title{width:884px; height:17px; background:url(../../../images/web/car/blt_arrow.gif) no-repeat 0px 8px; padding:7px 0px 1px 14px; font-weight:bold; letter-spacing:-1px; color:#333333;}
#table .input_title02{height:17px; background:url(../../../images/web/car/blt_arrow.gif) no-repeat 0px 11px; padding:10px 0px 0px 14px; font-weight:bold; letter-spacing:-1px; color:#333333;}
#table .input_title03{height:17px; background:url(../../../images/web/car/blt_arrow.gif) no-repeat 11px 11px; padding:10px 0px 0px 25px; font-weight:bold; letter-spacing:-1px; color:#333333;}

#table .IPtable{border-top:2px solid #e5e5e5; border-bottom:1px solid #e5e5e5; margin-bottom:11px;}
#table .IPtable2{border-top:2px solid #e5e5e5; border-bottom:1px solid #e5e5e5; border-left:2px solid #e5e5e5; border-right:2px solid #e5e5e5; margin-bottom:11px;}
#table .IPtable3{border-top:2px solid #a7bafe; border-bottom:1px solid #a7bafe; border-left:2px solid #a7bafe; border-right:2px solid #a7bafe; margin-bottom:11px;}
#table .IPtable5{border:1px solid #dcdcdc; margin-bottom:35px;}
#table .IPtable5a{border:5px solid #fff; background-color:#f6f6f6;}
#table .IPtable5b{border-top:1px solid #dcdcdc; border-left:1px solid #dcdcdc; border-right:1px solid #dcdcdc; margin-bottom:10px;}

#table .title_td{width:124px; height:16px; background:#f5f5f5; font-weight:bold; border-bottom:1px solid  #e5e5e5; padding:10px 0px 7px 13px;}
#table .title_td_w{background:#f5f5f5; height:16px; font-weight:bold; border-bottom:1px solid  #e5e5e5; padding:10px 0px 7px 0px; text-align:center;} .td_bd01{border-left:1px solid  #e5e5e5;}
#table .title_td_blt{background:url(../../../images/web/car/blt_I.gif) no-repeat 0px 9px #f5f5f5; height:16px; font-weight:bold; border-bottom:1px solid  #e5e5e5; padding:10px 0px 7px 0px; text-align:center;}
#table .td{border-bottom:1px solid  #e5e5e5; padding:10px 0px 7px 13px;}
#table .title_td8{background:#f6f6f6; border-bottom:1px solid  #e5e5e5; border-right:1px solid  #e5e5e5; height:27px; line-height:2.3em;}
#table .title_td8_r{background:#f6f6f6; border-bottom:1px solid  #e5e5e5; height:27px; line-height:2.3em;}



#table .td_radio01{border-bottom:1px solid  #e5e5e5; padding:8px 0px 5px 13px;}


#table .td_board{border-bottom:1px solid  #e5e5e5; text-align:center;}
#table .td_board_l{border-bottom:1px solid  #e5e5e5;text-align:left;}
#table .td_board_r{border-bottom:1px solid  #e5e5e5; text-align:right;}

#table .td_board2{height:16px; text-align:center;}
#table .td_board_l2{height:16px; text-align:left;}
#table .td_board_r2{height:16px; text-align:right;}

#table .td_board3{border-bottom:1px solid  #e5e5e5; height:18px; padding:6px 0px 6px 0px}
#table .td_board3a{border-bottom:1px solid  #e5e5e5; height:18px; padding:9px 0px 6px 0px}

#table .td_pd01{padding:13px 0;}
#table .td_pd02{padding:13px 0 10px 0;}
#table .td_pd03{padding:13px 0 7px 0;}
#table .td_pd04{padding:13px 0 7px 0;}

#table .td_board_lm{margin-left:18px;}
#table .td_board_rm{margin-right:20px;}
#table .td_board_lm2{margin-left:10px;}
#table .td_board_rm2{margin-right:10px;}

#table .td_board_l3{border-bottom:1px solid  #e5e5e5; border-right:1px solid  #e5e5e5; height:27px; line-height:2.3em;}
#table .td_board_r3{border-bottom:1px solid  #e5e5e5; height:27px; padding-left:5px; line-height:2.3em; text-align:left;}

#table .td_board_ln2{margin-left:10px; line-height:1.5em;} 
#table .td_board_h1{line-height:2em;} 


#table .td_board_open{padding:13px 0; text-align:center; height:16px;}
#table .td_board_open2{border-bottom:1px solid #e5e5e5; background-color:#f5f8e8; padding:13px 0; height:16px;}
#table .blue_under_line{color:#1e5bff; text-decoration:underline;}

.fc01{color:#ff5a00;}
.fc02{color:#d9d9d9; margin:0 10px;}
.fc03{color:#0073cc;}
.fc04{color:#656565;}
.fc05{color:#ff7800;}

.choice_color{width:63px; height:18px; border:1px solid #d2d2d2;}
.choice_color_sf{width:52px; height:19px; border:1px solid #d2d2d2;}
.choice_color_sf2a{width:26px; height:19px; border-top:1px solid #d2d2d2; border-bottom:1px solid #d2d2d2; border-left:1px solid #d2d2d2;}
.choice_color_sf2b{width:26px; height:19px; border-top:1px solid #d2d2d2; border-bottom:1px solid #d2d2d2; border-right:1px solid #d2d2d2;}

.table_border{border:1px solid #ffa200; background-color:#fffcdc;}
.table_mrg1{margin-left:9px;}
.table_mrg2{margin:5px 0px 12px 0px;}
.title_popup_td{width:595px; height:17px; background:url(../../../images/web/car/blt_arrow.gif) no-repeat 0px 30px; padding:29px 0px 0px 14px; font-weight:bold; letter-spacing:-1px; color:#333333;}
.div_table{width:700px; margin:0; padding:0; border:0;}

.textinput_BS{height:21px; border:1px solid #d3d3d3; margin:0px; padding:0 0 0 5px; line-height:1.8em; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;-moz-box-shadow:inset 1px 1px 1px #ccc; -webkit-box-shadow:inset 1px 1px 1px #ccc; box-shadow:inset 1px 1px 1px #ccc;}
.textinput_BS1{height:21px; border:1px solid #d3d3d3; margin:0px; padding:0 0 0 5px; line-height:1.8em; margin:-5px 0 -2px 0;-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;-moz-box-shadow:inset 1px 1px 1px #ccc; -webkit-box-shadow:inset 1px 1px 1px #ccc; box-shadow:inset 1px 1px 1px #ccc;}
.textinput_BS2{height:21px; border:1px solid #98b1e2; background-color:#f6f8ff; margin:0px; padding:0px; line-height:1.8em}

.textarea_BS{height:56px; border:1px solid #d3d3d3; margin:-4px 0 -1px 0; padding:0 5px; line-height:1.8em; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;-moz-box-shadow:inset 1px 1px 1px #ccc; -webkit-box-shadow:inset 1px 1px 1px #ccc; box-shadow:inset 1px 1px 1px #ccc;}
.textarea_BS2{height:52px; width:520px; border:1px solid #d3d3d3; margin:0px; padding:0 5px; line-height:1.8em; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;-moz-box-shadow:inset 1px 1px 1px #ccc; -webkit-box-shadow:inset 1px 1px 1px #ccc; box-shadow:inset 1px 1px 1px #ccc;}
.textinput_BS3{height:30px; border:1px solid #d3d3d3; padding:0 10px; line-height:2.4em; font-size:12px; margin:9px 5px 9px 10px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;-moz-box-shadow:inset 1px 1px 1px #ccc; -webkit-box-shadow:inset 1px 1px 1px #ccc; box-shadow:inset 1px 1px 1px #ccc;}

.text_box_pd{padding-bottom:7px;}
.text_box{width:143px; padding:4px 5px; border:1px solid #bfbfbf; background-color:#FFFFFF; vertical-align:bottom; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;-moz-box-shadow:inset 1px 1px 1px #ccc; -webkit-box-shadow:inset 1px 1px 1px #ccc; box-shadow:inset 1px 1px 1px #ccc;}
.text_box_login{height:20px; width:130px; border:1px solid #bebebe; margin-left:12px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;-moz-box-shadow:inset 1px 1px 1px #ccc; -webkit-box-shadow:inset 1px 1px 1px #ccc; box-shadow:inset 1px 1px 1px #ccc;}
.text_hyphen{color:#d3d3d3; padding:0 2px 0 1px;}

.text_dear{font-weight:bold; color:#333333; padding-left:57px; padding-top:30px;}
.text_q{font-weight:bold; color:#333333; padding-top:30px;}

.text_other01{color:#333333; letter-spacing:-1px; padding-left:5px; vertical-align:bottom; line-height:1em}
.text_other02{color:#535353; font-size:11px; padding-left:10px; font-weight:normal; letter-spacing:0px;}
.text_other03{float:left; padding:4px 0px 0px 25px; color:#ee0000;}
.text_other03_2{float:left; padding:4px 0px 0px 5px; color:#ee0000;}
.text_other04{float:left; padding-left:10px;}
.text_other04_1{float:left; padding-left:5px;}
.text_other05{padding:18px 0 0 18px;line-height:2em; font-size:12px; float:left;}
.text_other06{font-size:12px;}
.text_other07{padding:28px 0 0 31px;line-height:2em; font-size:12px; float:left;}
.text_other08{padding-top:30px;line-height:1.5em; letter-spacing:0px;  font-size:12px; float:left;}
.text_other09{color:#6b6d70; font-size:11px;}
.text_other09_2{color:#cccccc; font-size:11px;}
.text_other10{font-size:11px; line-height:1.3em;}
.text_other10_2{font-size:11px; line-height:1.3em; font-weight:bold;}
.text_other10_3{font-size:11px; line-height:1.3em; color:#707070;}

.text_board01a{font-size:12px; color:#666666; line-height:1.9em; padding:0 0 12px 3px;}
.text_board01b{font-size:12px; color:#666666; line-height:1.0em; padding:0 0 12px 3px;}
.text_board04c{line-height:1.5em; color:#656565;}
.text_board06a{position:absolute; margin:71px 0 0 70px ;color:#a3a3a3; width:70px;}
.text_board06b{position:absolute; margin:95px 0 0 200px ;color:#a3a3a3;}
.text_board06c{position:absolute; margin:90px 0 0 220px ;color:#a3a3a3; width:170px;}
.text_board06d{position:absolute; margin:50px 0 0 20px ;color:#a3a3a3; width:80px; text-align:center; line-height:1.6em;}


.box_size01{width:107px; margin-top:-4px;}
.box_size02{width:64px; margin-top:-4px;}
.box_size03{margin-top:-4px;}

.radio01{border:0; margin-right:3px; margin-bottom:1px; vertical-align:middle;}
.radio02{border:0; margin-right:3px; margin-bottom:2px; vertical-align:middle;}
.radio02a{border:0; margin:4px 6px 0 5px;  width:13px; height:13px; vertical-align:middle;}
.radio03{border:0; margin-right:3px; margin-bottom:4px; vertical-align:middle;}

label {position:relative; top:1px;}



.input_guide{margin-left:14px; font-size:11px; color:#8d94b4; width:430px;}
.info_check_box{border:1px solid #e0e0e0; width:896px; height:97px; margin-bottom:15px;}
.info_check_img{padding:8px 0 0 17px;line-height:2em; font-size:12px; float:left;}
.info_check_img_b{padding:13px 0 0 5px;line-height:2em; font-size:12px; float:left;}
.info_check_img2{padding-top:7px;line-height:1.5em; font-size:12px; float:left; width:500px;}
.add_num{border:1px solid #e0e0e0; width:895px; height:98px; margin-bottom:20px;}

.mapbox{border:1px solid #d3d3d3; width:725px; height:170px}
.mapbox2{border:1px solid #d3d3d3; width:735px; height:170px}
.filebox{width:408px; margin:3px 0px; padding:3px 0 3px 10px; border:1px solid #d3d3d3; background:#f3f3f3;}
.btm_check{margin:5px 0px 15px 0px; background:#f7f7f7; border:1px solid #e6e6e6; width:896px; height:39px; text-align:center; padding-top:5px;}
.btm_page_list{text-align:center; padding:5px 0 20px 0; }
.btm_check_pd{padding:8px 0px 25px 287px;}

.list_bar_text{font-size:11px; color:#858891; letter-spacing:-0.18em; text-align:right; margin-left:15px;}
.date_lastup{padding-top:12px; text-align:right; font-size:12px; color:#56575a;}
.date_lastup2{padding:12px 0; text-align:right; font-size:11px; color:#56575a;}
.date_lastup3{padding:15px 0; text-align:left; font-size:11px; color:#56575a;} .date_lastup4{padding:15px 0; text-align:right; font-size:11px; color:#56575a;}
.page_list1{padding:0 5px; color:#f38a21; text-decoration:underline;}
.page_list2{padding:0 5px; color:#989898;}

/* popup_box */

.popup_box01{position:absolute; z-index:50; width:399px; height:204px; margin:10px 10px; background:url(../../../images/web/car/box_popup.gif) no-repeat;}
.popup_box01_done{border-bottom:1px solid #cae3f6; padding:12px 0 9px 0; text-align:center; font-weight:bold;}
.popup_box01_text{padding-top:5px; text-align:center;}
.popup_box02{width:347px; height:48px; background-color:#f2f2f2; text-align:center;}
.popup_box02_text{padding-left:60px; text-align:left;}
.popup_box_pd{padding-top:15px;}
.popup_img01{border:1px solid #e0e0e0; margin:4px 0px 0px 4px;}
.popup_box03{width:347px; height:40px; background-color:#f2f2f2; text-align:center;}
.popup_box03_text{padding:7px 0px 0px 60px; text-align:left;}
.popup_box04{width:347px; height:80px; background-color:#f2f2f2; text-align:center;}
.popup_box05{position:absolute; z-index:50; width:399px; height:160px; margin:10px 10px; background:url(../../../images/web/car/box_popup2.gif) no-repeat;}


.popup_info_box{margin:9px; width:586px; height:99px; background-color:#f2f2f2; border:2px solid #ffffff;}
.popup_info_text1{text-align:center; padding-top:18px;}
.popup_info_text2{color:#333333; line-height:1.2em;}
.popup_info_text3{text-align:center; padding-top:25px;}
.popup_info_text4{color:#333333; line-height:1.5em;}

.popup_pd{padding-top:65px;}
.popup_pd2{padding-top:32px;}
.popup_table{background-color:#f2f2f2; margin-bottom:5px;}

.index_pd1{padding:7px 0px;}
.index_pd2{padding-left:8px;}
.index_pd3{padding-left:8px; background-color:#ffffff;}
.index_bold1{font-weight:bold; color:#ff7200;}

.index_info_text1{width:200px; padding:6px 0px 6px 0px; border-bottom:1px solid #eaeaea;}
.index_info_text2{width:200px; padding:6px 0px 6px 0px;}


.bg_popup_top{width:700px; height:148px; background:url(../../../images/web/car/bg_popup_top.gif) no-repeat;}
.bg_popup_mid{width:700px; background:url(../../../images/web/car/bg_popup_mid.gif) repeat-y;}
.bg_popup_bot{width:700px; height:135px; background:url(../../../images/web/car/bg_popup_bot.gif) no-repeat;}

.bg_popup01{background:url(../../../images/web/car/box_popup01_bg.gif) repeat-y;}

.pd_bold1{font-weight:bold; padding-left:13px;}
.pd_bold1_2{font-weight:bold; padding-left:9px;}
.pd_bold2{font-weight:bold; padding-left:13px; font-size:11px;}

.img_mg01{margin:-5px 0 -7px 10px;}
.img_mg02{margin:-7px 0 -5px 0;}
.img_mg02a{margin:0px 0 2px 0;}
.img_mg03{margin-left:12px;}
.img_mg03a{margin-left:4px;}


.mg02{margin-top:4px;}
.mg06{float:left; margin:1px 0 0 6px;}

.pd03{padding-top:-5px;}
.pd04{margin-bottom:5px;}
.pd04a1{margin-bottom:9px;}
.pd14{padding-bottom:4px;}
.pd15a{padding-top:10px;}


.text_pd{padding-top:8px;}
.title_pd{padding-top:24px;}
.title_pd2{padding-top:10px;}
.title_popup01{font-size:16px; color:#252525;}
.title_popup01a{font-size:18px; color:#252525;}
.noimage{padding-bottom:35px;}
.mgn_btm{margin-bottom:18px;}

.nt01{font-weight:normal; font-size:11px;}
.nt02{margin-top:-2px;}
.nt03{margin-top:3px; vertical-align:middle}
.nt04{width:136px; padding:0 0px 9px 0;}
.nt05{height:9px; padding:5px 0 5px 5px; text-align:left;}
.nt06{line-height:1.8em;}
.nt07{margin-bottom:9px;}
.nt08{margin-bottom:52px;}
.nt09{width:930px; height:28px; vertical-align:middle; background-color:#ededed;}

/*pop_comparison*/

#comparison_box{ width:671px; height:22px; border:2px solid #cddaf2; padding-top:12px;}
#comparison_box .name{font-weight:bold} 
#comparison_box .percent{font-weight:bold; color:#0079d6}

#graph_box{padding-right:12px; padding-top:6px; text-align:right;}
#graph_box .graph_bg{width:96px; height:11px; background:url(../../../images/web/car/graph_g.gif); text-align:left}
#graph_box .graph_bg .graph_rd{background:url(../../../images/web/car/graph_r.gif); width:30%; height:11px;}

#comparison .cp_td{border-bottom:1px solid #d5d5d5; border-left:1px solid #d5d5d5; padding-left:50px; text-align:left;}
#comparison .ad{color:#0060a9; background:#fffcdc;}
#comparison .line{border-top:1px solid #d5d5d5;}
.comparison{border-top:1px solid #d5d5d5;}

.comparison_titbg01{border-left:1px solid #fff; border-bottom:1px solid #fff; background:#e4e4e4;text-align:center;}
.comparison_titbg02{border-left:1px solid #fff; border-bottom:1px solid #fff; background:#88a9ea; text-align:center; color:#fff; font-weight:bold}
.comparison_titbg03{border-left:1px solid #fff; border-bottom:1px solid #fff; background:#88a9ea; text-align:center; color:#fff; font-weight:bold}
.comparison_titbg04{background:#f8f8f8; border-bottom:1px solid #d5d5d5; padding-left:22px; color:#294e94; text-align:left}
.comparison_btn_box{padding-top:20px; text-align:center}


.box01{width:610px; height:203px; border:2px solid #cccccc;}
.box02{width:610px; height:203px; border:2px solid #cccccc;overflow-y:auto; overflow-x:hidden;}
.box02a{width:614px; height:90px; overflow-y:auto; overflow-x:hidden;}
.box03{width:199px; height:173px; border-right:1px solid #d9d9d9; overflow-y:auto; overflow-x:hidden; float:left}
.box03a{width:199px; height:173px; border-right:1px solid #d9d9d9; overflow-y:auto; overflow-x:hidden; float:left}
.box04{width:410px; height:173px; overflow-y:auto; overflow-x:hidden; float:left}
.box04a{width:198px; height:173px; border-right:1px solid #d9d9d9; overflow-y:auto; overflow-x:hidden; float:left}
.box04b{width:210px; height:173px; overflow-y:auto; overflow-x:hidden; float:left}
.box05{width:610px; height:29px; background-color:#f6f6f6; border-bottom:1px solid #d9d9d9;}
.box06a{width:151px; height:173px; border-right:1px solid #d9d9d9; overflow-y:auto; overflow-x:hidden; float:left}
.box06b{width:153px; height:173px; overflow-y:auto; overflow-x:hidden; float:left}
.box07a{width:152px; height:203px; border-right:1px solid #d9d9d9; overflow-y:auto; overflow-x:hidden; float:left}
.box07b{width:151px; height:203px; overflow-y:auto; overflow-x:hidden; float:left}
.box08{width:570px; height:40px; margin-left:13px; padding:2px 0 0 10px; border:1px solid #f1e8e8; background-color:#f6f6f6;}
.box08_text{margin-right:7px}
.box09a{width:121px; height:173px; border-right:1px solid #d9d9d9; overflow-y:auto; overflow-x:hidden; float:left}
.box09b{width:121px; height:173px; overflow-y:auto; overflow-x:hidden; float:left}
.box10a{float:left; width:101px; height:30px; line-height:2.4em; padding:0 10px; font-weight:bold; border-right:1px solid #d9d9d9;}
.box10b{float:left; width:101px; height:30px; line-height:2.4em; padding:0 10px; font-weight:bold;}

.bar01{width:590px; height:29px; background-color:#f6f6f6; line-height:2.4em; padding:0 10px;}
.bar02{width:590px; height:29px; line-height:2.4em; padding:0 10px; }
.bar02a{width:180px; height:29px; line-height:2.4em; padding:0 10px; }
.bar02b{width:190px; height:29px; line-height:2.4em; padding-left:10px; float:left; }
.bar02c{width:200px; height:29px; line-height:2.4em; padding-right:10px; float:left; }
.bar03{line-height:2.4em; font-weight:bold; padding:0 10px; float:left; }
.bar04{line-height:1.5em; font-weight:bold; padding:5px 10px 0 10px;}
.bar05a{width:132px; height:29px; line-height:2.4em; padding:0 10px; }
.bar06a{width:131px; min-height:16px; line-height:1.2em; padding:0 10px ; margin:3px 0; float:left}
.bar06b{width:101px; min-height:16px; line-height:1.2em; padding:0 10px ; margin:3px 0; float:left}

.bg_popup_d1{background:url(../../../images/web/car/box_t_search.gif) no-repeat;}
.bg_popup_d2{background:url(../../../images/web/car/box_bg_search.gif) repeat-y;}
.bg_popup_d3{background:url(../../../images/web/car/box_b_search.gif) no-repeat;}
.bg_popup_d4{background:url(../../../images/web/car/box_bg2_search.gif) no-repeat;}

.bg_popup_e{background:url(../../../images/web/car/bg_tabbar.gif) repeat-x}

.input_search{width:163px; height:12px; border:3px solid #0076da; padding:5px;}


.board06a{position:absolute; margin:71px 0 0 45px ;color:#a3a3a3; width:70px;}

.popup_box06{position:absolute; z-index:40; width:600x; height:auto; margin:10px 10px;}

.mg04{margin:4px 0 7px 11px}
.mg05{margin-left:11px;}
.mg06{float:left; margin:1px 0 0 6px;}
.mg07a{margin:4px 0 5px 0; vertical-align:middle;}
.mg07b{margin-top:-1px;}

